<template>
  <div>
    <label for="uname">
      <input type="text" v-model="uname" placeholder="username">
    </label>
    <label for="passwd">
      <input type="text" v-model="passwd" placeholder="password">
    </label>
    <button @click="submit">Sign in</button>
  </div>
</template>
<script>
export default {
  name: 'Login',
  data() {
    return {
      uname: '',
      passwd: ''
    }
  },
  methods: {
    submit() {
      console.log(this)
    }
  }
}
</script>
